main {
	margin: 16px;
}

header {
	backdrop-filter: blur(12px);
	background-color: #ffffff80;
	padding: 16px 18px;
	border-radius: 12px;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div {
    display: flex;
    flex-direction: column;
}

#group {
	opacity: 60%;
	font-size: 10pt;
}

#date {
	font-size: 16pt;
}